.arcade-cabinet {
  background-color: #262931;
  border-left: 1px solid rgb(23, 25, 29);
  border-top: 1px solid rgb(23, 25, 29);
  border-right: 1px solid rgb(23, 25, 29);
  border-radius: 5px 5px 0 0;
}

#arcade-screen-container canvas {
  display: block;
  transform: translateZ(1px);
}

.arcade-mask-outer-wrapper {
  height: 0;
  overflow: visible;
}

.arcade-button {
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}
.arcade-button.left {
  background-position-x: 0px;
}
.arcade-button.left:active {
  background-position-x: -38px;
}
.arcade-button.right {
  background-position-x: -76px;
}
.arcade-button.right:active {
  background-position-x: -114px;
}

/* <Img /> fade */
.fade {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.fade.show {
  opacity: 1;
}

/* dat.gui */
.dg.ac button, input, optgroup, select, textarea {
  line-height: normal;
}

.dg.ac li {
  margin: 0;
}
